body , html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    position: relative;
    height: 400px;
    background-image: url('homepagePic.jpg');
    background-size: cover;
    background-position: center;
    color: white;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;


}

/* Logo */
#logo {
    font-size: 20px;
    font-weight: bold;
}

/* Navigation */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Icône burger (invisible sur PC) */
.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.burger div {
    width: 25px;
    height: 3px;
    background: white;
}

/* Menu mobile */
nav {
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 8px;
    z-index: 10;
}

@media (max-width: 768px) {
    nav {
        display: none; /* Caché par défaut */
        flex-direction: column;
        background: #333;
        position: absolute;
        top: 60px;
        right: 0;
        width: 200px;
        padding: 10px;
    }

    nav.show {
        display: flex; /* S'affiche quand la classe "show" est ajoutée */
    }

    .burger {
        display: flex; /* Icône visible sur mobile */
    }
}


